{% extends 'base.html' %}
{% block title %}An Email has been sent to your account {% endblock %}

{% block content %}
<br>

{% if user.is_authenticated %}
<div class="alert alert-primary">
  <p>An Email has been sent with instructions.Please follow them to reset your password.Please check your spam folder if u are not able to see the mail else you have entered your gmail incorrectly.</p>
  <p>Note:Only gmails will work(google accounts),micrsoft and apple accounts will not work so please check whether you have entered your mail address correctly.  Click the button below to redirect to the  gmail home page</p>

  <a href="https://mail.google.com" class="btn btn-danger btn-md  "><i class="fa fa-envelope"></i> Gmail</a>

</div>

{% else %}
<h3>Not Logged in:</h3><hr>
<p>You must be logged in to reset the password</p>
<a href="{% url 'reg:login' %}" class="btn btn-outline-primary btn-md">Login</a>
{% endif %}

{% endblock %}
