{% extends 'base.html' %}
{% block title %}Password set {% endblock %}

{% block content %}
<br>

{% if user.is_authenticated %}
<h3>Your password has been set.You may no go and log in</h3>
<a href="{% url 'reg:login' %}" class="btn btn-outline-success btn-md"><i class="fa fa-sign-in" aria-hidden="true"></i>  Login</a>

{% else %}
<h3>Not Logged in:</h3><hr>
<p>You must be logged in to reset the password</p>
<a href="{% url 'reg:login' %}" class="btn btn-outline-primary btn-md"><i class="fa fa-sign-in" aria-hidden="true"></i>  Login</a>
{% endif %}


{% endblock %}
