{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<br>
{% if user.is_authenticated %}
<br>
<h3 class="">Email Confirmation:</h3>

<hr>
<form class="form-group" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="btn btn-outline-primary btn-md"><i class="fa fa-envelope" aria-hidden="true"></i>   Request Reset Password</button>
</form>

{% else %}
<h3>Not Logged in:</h3><hr>
<p>You must be logged in to reset the password</p>
<a href="{% url 'reg:login' %}" class="btn btn-outline-primary btn-md"><i class="fa fa-sign-in" aria-hidden="true"></i>  Login</a>
{% endif %}


{% endblock %}
